<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="productservice"
		class="com.productapp.service.ProductServiceImpl" autowire="byType">
	</bean>

	<beans profile="dev">
		<bean id="productDao1"
			class="com.productapp.dao.ProductDaoImplArrrayList" />
	</beans>

	<beans profile="test">
		<bean id="productDao2"
			class="com.productapp.dao.ProductDaoImplJdbc" />
	</beans>

</beans>
